body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #e0f2ff, #f8fbff);
}

/* HEADER */
.header {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #ffffff, #ffffff);
  color: #000000;
}

.logo {
  width: 120px;
  margin-bottom: 10px;
 
}

/* STUDENT CARDS */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  padding: 20px;
}

.student-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  transition: 0.3s;
}

.student-card:hover {
  transform: translateY(-5px);
}

.student-card button {
  padding: 8px 15px;
  border: none;
  background: linear-gradient(to right, #004aad, #0077ff);
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: #fff;
  margin: 5% auto;
  padding: 20px;
  width: 90%;
  max-width: 900px;
  border-radius: 10px;
  max-height: 90vh;
  overflow-y: auto;
}

.close {
  font-size: 25px;
  float: right;
  cursor: pointer;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  background: #004aad;
  color: white;
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

/* FINAL RESULT */
.final-result {
  background: #eaf4ff;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
}
