* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: linear-gradient(180deg, #f5f6fa, #eaeaea);
    color: #222;
}

/* HEADER */
header {
    background: #43a3ed;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 35px 20px;
}

.logo-box {
    width: 90px;
    height: 90px;
    margin: 0 auto 10px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #1aa36f; /* very limited green */
}

.logo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header h1 {
    font-size: 28px;
    letter-spacing: 1px;
}

header p {
    opacity: 0.8;
}

/* PORTAL BOX */
.portal {
    width: 360px;
    margin: 45px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.12);
    text-align: center;

    transition: 0.6s cubic-bezier(.21,1.02,.73,1);
}

/* ROCKET EFFECT */
.portal:hover {
    transform: translateY(-20px) scale(1.02);
    box-shadow: 0 30px 60px rgba(0,0,0,0.2);
}

.portal input {
    width: 100%;
    padding: 13px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 18px;
}

.portal button {
    width: 100%;
    padding: 13px;
    border-radius: 30px;
    border: none;
    background: #1aa36f;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

.portal button:hover {
    background: #14865c;
    transform: translateY(-3px);
}

/* RESULT */
.result {
    width: 85%;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.12);
}

.hidden {
    display: none;
}

.semester {
    margin-top: 18px;
    padding: 15px;
    background: #f7f7f7;
    border-left: 4px solid #1aa36f;
    border-radius: 6px;
}

.pass {
    color: #1aa36f;
    font-weight: bold;
}

.fail {
    color: #c0392b;
    font-weight: bold;
}
